<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-default" style="background-color: #343a40">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="text-left, text-light">
                <h5>
                <div th:object="${userInHeader}">
                    <span class="align-middle font-weight-bold" th:text="${userInHeader.username}"></span>
                    <span class="align-middle" >with roles</span>
                    <span class="align-middle" th:text="${userInHeader.getRole()}"></span>
                </div>
                </h5>
            </div>
        </div>
        <div class="text-right"><a class="text-muted" href="/logout">Logout</a></div>
    </div>
</nav>
</br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2" style="background-color: white">
            <ul class="nav flex-column nav-pills">
                <li><a class="nav-link active" data-toggle="tab" href="#adminPanel" >Admin</a></li>
                <li><a class="nav-item nav-link" data-toggle="tab" href="#userPanel">User</a></li>
            </ul>
        </div>

        <div class="col-10 bg-light">
            <div class="tab-content">


            <div class="tab-pane fade show active" style="background-color: #f8f9fa" id="adminPanel">
            <h1>Admin panel</h1>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" id="tableUsers" href="#usersTable">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="userNew" data-toggle="tab" href="#newUser">New user</a>
                </li>
            </ul>
                <div class="tab-content">

                <div class="tab-pane fade show active" id="usersTable">
            <div class="card">
                <div class="card-header">
                    <div  style="background-color: #f7f7f7">
                        <h5>All users</h5>
                    </div>
                </div>
                <div class="card-body" style="background-color: white">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Age</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody id="tableOfUsers">
                        </tbody>
                        <!--edit window-->
                        <div class="modal fade" id="ModalEdit" tabindex="-1" role="dialog"
                             aria-labelledby="ModalEdit" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <form class="modal-form" id="formEdit">
                                        <div class="form-group col-12 container-sm bg-white ">
                                            <div class="modal-body ">
                                                <div class="form-group text-center">
                                                    <label for="userId"><b>ID</b></label>
                                                    <input type="text" class="form-control" id="userId" name="id"  readonly>
                                                </div>
                                                <div class="form-group text-center">
                                                    <label for="userName"><b>First name</b></label>
                                                    <input type="text" class="form-control" id="userName" name="username" >
                                                </div>
                                                <div class="form-group text-center">
                                                    <label for="userLastname"><b>Last name</b></label>
                                                    <input type="text" class="form-control" id="userLastname" name="lastname">
                                                </div>
                                                <div class="form-group text-center">
                                                    <label for="userAge"><b>Age</b></label>
                                                    <input type="text" class="form-control" id="userAge" name="age">
                                                </div>
                                                <div class="form-group text-center">
                                                    <label for="userEmail"><b>Email</b></label>
                                                    <input type="text" class="form-control" id="userEmail" name="email" >
                                                </div>
                                                <div class="form-group text-center">
                                                    <label for="userPassword"><b>Password</b></label>
                                                    <input type="password" class="form-control" id="userPassword" name="password">
                                                </div>
                                                <div class="text-center">
                                                    <label for="editRoles"><b>Role</b></label>
                                                    <select class="form-control" id="editRoles" name="editRoles" multiple size="2">

                                                        <option value="1 ROLE_USER">USER</option>
                                                        <option value="2 ROLE_ADMIN">ADMIN</option>

                                                    </select>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Edit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>


                        <!--                -->



                        <div class="modal fade" id="deleteModal"  tabindex="-1" role="dialog"
                             aria-labelledby="deleteModal" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                        <div class="modal-header ">
                                            <h5 class="modal-title" id="exampleModalLabel1">Delete user</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    <form class="modal-form" id="formDelete">
                                        <div class="form-group col-12 container-sm bg-white">
                                        <div class="modal-body ">
                                            <div class="form-group text-center">
                                                <label for="readId"><b>ID</b></label>
                                                <input type="text" class="form-control" id="readId" name="id"  readonly>
                                            </div>
                                            <div class="form-group text-center">
                                                <label for="readName"><b>First name</b></label>
                                                <input type="text" class="form-control" id="readName" name="username"  readonly >
                                            </div>
                                            <div class="form-group text-center">
                                                <label for="readLastName"><b>Last name</b></label>
                                                <input type="text" class="form-control" id="readLastName" name="lastname" readonly>
                                            </div>
                                            <div class="form-group text-center">
                                                <label for="readAge"><b>Age</b></label>
                                                <input type="text" class="form-control" id="readAge" name="age" readonly>
                                            </div>
                                            <div class="form-group text-center">
                                                <label for="readEmail"><b>Email</b></label>
                                                <input type="text" class="form-control" id="readEmail" name="email" readonly>
                                            </div>
                                            <div class="text-center">
                                                <label for="deleteRole"><strong>Role</strong>
                                                    <select class="form-control" id="deleteRole" name="roles" multiple size="2" disabled>
                                                            <option value="1">ADMIN</option>
                                                            <option value="2">USER</option>
                                                    </select>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
<!--                        -->
                    </table>
                </div>
            </div>
                </div>


                <div class="tab-pane fade" id="newUser">
                    <div class="card">
                        <div class="card-header">
                            <div  style="background-color: #f7f7f7">
                                <h5>Add new user</h5>
                            </div>
                        </div>
                        <div class="col-md-4 container justify-content-center">
                            <div class="card-body" style="background-color: white">
                                <form id="formNewUser" name="formNewUser">
                                    <div class="form-group text-center">
                                        <label for="usernameAdd"><b>First name</b></label>
                                        <input type="text" class="form-control" id="usernameAdd" placeholder="Enter name:">
                                    </div>
                                    <div class="form-group text-center">
                                        <label for="lastnameAdd"><b>Last name</b></label>
                                        <input type="text" class="form-control"  id="lastnameAdd" placeholder="Enter last name:">
                                    </div>
                                    <div class="form-group text-center">
                                        <label for="ageAdd"><b>Age</b></label>
                                        <input type="text" class="form-control" name="age"  id="ageAdd" placeholder="Enter age:">
                                    </div>
                                    <div class="form-group text-center">
                                        <label for="emailAdd"><b>Email</b></label>
                                        <input type="text" class="form-control" name="email"  id="emailAdd" placeholder="Enter email:">
                                    </div>
                                    <div class="form-group text-center">
                                        <label for="passwordAdd"><b>Password</b></label>
                                        <input type="password" class="form-control" name="password"  id="passwordAdd" placeholder="Enter password:">
                                    </div>

                                    <div class="text-center">
                                        <label for="addRoles"><b>Role</b></label>
                                        <select class="form-control" id="addRoles" name="addRoles" multiple size="2">

                                            <option value="1 ROLE_USER">USER</option>
                                            <option value="2 ROLE_ADMIN">ADMIN</option>

                                        </select>
                                    </div>
                                    </br>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-success">Add new user</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

            </div>







        <div class="tab-pane fade" style="background-color: #f8f9fa" id="userPanel">
            <h1>User information-page</h1>
            <div class="card">
                <div class="card-header">
                    <div  style="background-color: #f7f7f7">
                        <h5>About user</h5>
                    </div>
                </div>
                <div class="card-body" style="background-color: white">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Age</th>
                            <th>Email</th>
                            <th>Role</th>
                        </tr>
                        </thead>
                        <tbody id="oneUserTable">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
            </div>
            </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/tableusers.js}" defer="defer" src="/static/tableusers.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</body>
</html>